<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JFrog CircleCI Demo</title>
  <meta name="description" content="JFrog CircleCI Demo">
</head>
<body>
<a-scene background="color: #FAFAFA">
  <a-camera look-controls position="0 0 0"></a-camera>
  <a-image position="0.5 0 -1" src="assets/img/jfrog-logo.png" animation="property: rotation; to: 0 360 0; dur: 7000; easing: linear; loop: true"></a-image>
  <a-image position="-0.5 0 -1" src="assets/img/circleci-logo.png" animation="property: rotation; to: 0 360 0; dur: 7000; easing: linear; loop: true"></a-image>
  <a-sky rotation="0 -90 0" id="background-img" src="assets/img/cloud.png"></a-sky>
</a-scene>
</body>
</html>


